{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row mb-5 mt-5">
            <div class="col text-center mt-3">
                <h1 class="logo-font">How We Started</h1>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row">
                    <p>Welcome to Taco y Tequila! We take pride in sharing the story of how we started and the passion that
                        fueled our journey. Our flavorful adventure began in the year 2021, when a small team of dedicated
                        food enthusiasts came together with a shared love for Mexican cuisine and a dream of creating
                        something special.
                        Starting with nothing but a humble food truck, we embarked on a mission to bring the authentic
                        tastes of Mexico to the streets and festivals of our community. Armed with secret family recipes
                        passed down through generations, we set out to tantalize taste buds with our homemade tacos and
                        sizzling fajitas, crafted with care and attention to every flavorful detail.
                        But it wasn't just about the food. We wanted to offer a complete experience, a celebration of the
                        vibrant spirit of Mexico. That's why we took great pride in introducing our very own homemade
                        tequila, crafted with meticulous care and a touch of artistry. Each sip was a toast to our heritage,
                        a testament to the craftsmanship that made us who we are.
                        As we traversed the festival circuit, our passion for sharing these culinary delights grew, and so
                        did our loyal following. The joy on our customers' faces as they savored the explosion of flavors
                        was the ultimate reward for our hard work and dedication. Word spread rapidly, and soon, Taco y
                        Tequila became synonymous with an unforgettable dining experience.
                        Today, our journey continues, as we expand beyond the food truck and create a welcoming haven where
                        friends and family can come together to savor the essence of Mexico. From our mouthwatering tacos
                        and fajitas to our smooth and distinctive homemade tequila, every aspect of our restaurant reflects
                        our unwavering commitment to quality and authenticity.
                        Join us at Taco y Tequila, where the spirit of Mexico comes alive through every bite and sip.
                        Experience the passion that started it all and be a part of our delicious story.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}