:root {
    --main-color-cream: #F3E99F;
    --main-color-red: #D91A1A;
    --text-black: #000;
    ;
  }

html {
    height: 100%;
}

body {
    background: url('/media/hero.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.logo {
    height: 80px;
}

.bg-main {
    background-color: var(--main-color-cream);
}

.bg-red {
    background-color: var(--main-color-red) !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: var(--main-color-red);
    color: white;
    min-width: 260px;
}

.btn-red {
    background: var(--main-color-red);
    color: white;
}

.btn-outline-green {
    background: white;
    color: #7BC192 !important;
    border: 1px solid #7BC192 !important;
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background: #7BC192 !important;
    color: white !important;
}


.icon-dark {
    color: var(--text-black);
}

.icon-dark:hover,
.icon-dark:active,
.icon-dark:focus {
    color: #7FCBD8;
}


.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background: var(--main-color-cream);
    color: black;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-blue {
    background: #7FCBD8;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #fff;
    z-index: -1;
}

a.category-badge > span.badge {
    background-color: #7BC192;
    color: #fff;
    border: #000;
}

a.category-badge > span.badge:hover {
    background: #7FCBD8;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Product Card */

.background-green {
    background: #7BC192;
    color: #fff;
    border-radius: 8px;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* top padding for when navbar is collapsed */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}