<div class="d-flex flex-column h-100 footer">
    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <img src="https://taco-y-tequila.s3.eu-north-1.amazonaws.com/media/logo-3.png" class="my-0 logo" height="40px" width="40px">
                    <p class="small text-main mb-0">&copy; Copyrights. All rights reserved. Taco y Tequila</p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="logo-font mb-3">About Us</h5>
                    <ul class="list-unstyled text-main">
                        <li><a href="{% url 'how_we_started' %}" class="text-main">How we started</a></li>
                        <li><a href="{% url 'meet_the_team' %}" class="text-main">Meet the team</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="logo-font mb-3" >Events</h5>
                    <ul class="list-unstyled text-main">
                        <li><a href="#" class="text-main">Book an Event</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="logo-font mb-3">Newsletter</h5>
                    <p class="small text-main">Sign up to our newsletter to keep up to date with everything Taco y Tequila related</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-red" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>