<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-main mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-main mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=spice_rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-main mr-5" href="#" id="meal-kits-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meal Kits
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="meal-kits-link">
                <a href="{% url 'products' %}?category=mealkits_mild" class="dropdown-item">Mild</a>
                <a href="{% url 'products' %}?category=mealkits_medium" class="dropdown-item">Medium</a>
                <a href="{% url 'products' %}?category=mealkits_hot" class="dropdown-item">Hot</a>
                <a href="{% url 'products' %}?category=mealkits_veryhot" class="dropdown-item">Very Hot</a>
                <a href="{% url 'products' %}?category=mealkits_mild,mealkits_medium,mealkits_hot,mealkits_veryhot" class="dropdown-item">All Meal Kits</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-main mr-5" href="#" id="drinks-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drinks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="drinks-link">
                <a href="{% url 'products' %}?category=drinks_tequila" class="dropdown-item">Tequila</a>
                <a href="{% url 'products' %}?category=drinks_softdrinks" class="dropdown-item">Soft Drinks</a>
                <a href="{% url 'products' %}?category=drinks_beers" class="dropdown-item">Beers</a>
                <a href="{% url 'products' %}?category=drinks_tequila,drinks_softdrinks,drinks_beers" class="dropdown-item">All Drinks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-main mr-5" href="#" id="spices-sauces-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sauces &amp; Spices
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="spices-sauces-link">
                <a href="{% url 'products' %}?sauces" class="dropdown-item">Sauces</a>
                <a href="{% url 'products' %}?spices" class="dropdown-item">Spices</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-main mr-5" href="{% url 'book_event' %}" id="events-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Event's
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="events-link">
                <a href="{% url 'book_event' %}" class="dropdown-item">Book a Event</a>
            </div>
        </li>
    </ul>
</div>